# Copy to terraform.tfvars and edit, or export TF_VAR_do_token instead.
do_token     = "dop_v1_replace_me"
cluster_name = "bank-of-anthos"
region       = "nyc1"
node_size    = "s-2vcpu-4gb"
node_count   = 3

# create_container_registry = true
# container_registry_name   = "my-unique-registry"
